GMCA_needlets_output/GMCA_maps/
GMCA_needlets_output/maps_reconstructed/
GMCA_pixels_output/Maps_GMCA/
HFI_Mask_GalPlane_2048_R1.10.fits
Maps_needlets/
PCA_needlets_output/PCA_maps/
PCA_needlets_output/maps_reconstructed/
PCA_pixels_output/Maps_PCA/
Sims/
sim_PL05_from191030.hd5