GMCA_needlets_output/GMCA_maps/
GMCA_needlets_output/maps_reconstructed/
GMCA_pixels_output/Maps_GMCA/
GMCA_needlets_output/GMCA_maps_nuovo_1/
GMCA_needlets_output/maps_reconstructed_nuovo_1/
GMCA_needlets_output/GMCA_maps_nuovo/
GMCA_needlets_output/maps_reconstructed_nuovo/
GMCA_pixels_output/Maps_GMCA_nuovo/
HFI_Mask_GalPlane_2048_R1.10.fits
Maps_needlets/
Maps_needlets_nuovo/
Maps_needlets_nuovo_1/
Maps_mexican_needlets/
Maps_mexican_needlets_nuovo_1/
PCA_needlets_output/PCA_maps_nuovo/
PCA_needlets_output/PCA_maps_nuovo_1/
PCA_needlets_output/maps_reconstructed_nuovo/
PCA_needlets_output/maps_reconstructed_nuovo_1/
PCA_needlets_output/PCA_maps/
PCA_needlets_output/maps_reconstructed/
PCA_mexican_needlets_output/PCA_maps/
PCA_mexican_needlets_output/maps_reconstructed/
PCA_mexican_needlets_output/PCA_maps_nuovo_1/
PCA_mexican_needlets_output/maps_reconstructed_nuovo_1/
PCA_pixels_output/Maps_PCA/
PCA_pixels_output/Maps_PCA_nuovo/
Sims/
sim_PL05_from191030.hd5